.file-drop-zone {
    height: inherit;
}

body.fileManager {
    line-height: 2.5;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default !important;
    padding: 0;
    margin: 0;
    background: #FFF;
    height: 100%;
    width: 100%;
    overflow: hidden;
    color: #607D8B;
}
.media-name{
    color: rgb(0,153,255);
    height: 50px;
}
.fm-header {
    min-height: 80px;
    margin-bottom: 10px;
    padding: 0;
    background-color: #007EAF;
}

.fm-header ul {
    margin: 0;
    padding: 0;
}

.fm-header ul > li {
    height: 80px;
    display: inline-grid;
    color: white;
    padding: 15px;
    font-weight: 600;
    text-align: center;
}

.fm-btn:hover {
    cursor: pointer;
}
.fm-header>ul>li>i,.fm-header>ul>li>div>i{
    width: 100%;
    line-height: initial!important;
}
.fm-header ul > li:hover, .fm-header ul > li.active {
    background-color: #009BD8;
    color: white;
}

.fm-header ul > li.disabled {
    opacity: 0.3;
    cursor: default;
}

.fm-body {
    overflow-y: scroll;
    height: 80%;
}

#slcta {
    background-color: #1492c2;
    color: white;
    border-radius: 6px;
    height: 30px;
    margin-left: 15px;
    margin-top: 10px;
    width: 100px !important;
    font-size: 16px;
}

#searchMediaFile {
    width: 180px;
    margin-left: 15px;
    margin-top: 10px;
    font-size: 16px;
}

.instant-disabled {
    opacity: 0.3;
    cursor: default;
    pointer-events: none;
}

#mediaFileBox {
    margin-left: 10px;
    margin-right: 10px;
}

#mediaFileBox li {
    margin: 5px;
    border-radius: 7px;
    padding: 15px;
    box-shadow: 2px 0px 5px 1px rgba(196, 195, 195, 0.8);
}

#mediaFileBox li.list {
    display: inline-flex;
    width: 100%;
}

#mediaFileBox li.list .media-image > img {
    height: 30px;
    pointer-events: none;
}

#mediaFileBox li.list div.media-name {
    width: 50%;
    overflow: hidden;
}

#mediaFileBox li.list div:first-child {
    width: 6%;
}

#mediaFileBox li.list div {
    width: 17%;
}

#mediaFileBox li:hover {
    cursor: pointer;
    background-color: whitesmoke;
}

#mediaFileBox li.selected {
    color: white;
    font-weight: 600;
    background-color: #0b93d5;
}

#mediaFileBox li.thumbnail {
    width: 14%;
    display: inline-block;
}

#mediaFileBox li.thumbnail .media-image {
    text-align: center;
    width: 100%;
}
#mediaFileBox li .media-image > img{
    height: 30px;
}

#mediaFileBox li.thumbnail .media-image > img {
    height: 130px;
    pointer-events: none;
}

#mediaFileBox li.thumbnail div {
    width: 100%;
    overflow: hidden;
    text-align: center;
}

@media (max-width: 1200px) and (min-width: 1000px) {
    #mediaFileBox li.thumbnail {
        width: 18%;
    }
}

@media (max-width: 1000px) {
    #mediaFileBox li.thumbnail {
        width: 23%;
    }
}

@media (max-width: 700px) {
    #mediaFileBox li.thumbnail {
        width: 30%;
    }
}

@media (max-width: 450px) {
    #mediaFileBox li.thumbnail {
        width: 50%;
    }
}

.option-menu {
    padding: 0px;
    position: fixed;
    list-style: none;
    background-color: #FFC107;
}

.option-menu > li {
    width: 150px !important;
    text-align: center;
    color: white;
    font-weight: 500;
    transition: background-color 0.5s ease;
    padding: 5px;
}

.option-menu > li:hover {
    cursor: pointer;
    font-weight: 700;
    background-color: #01b070;
}

.option-menu > li.disabled {
    opacity: 0.3;
    cursor: default;
}

.option-menu > li.disabled:hover {
    background-color: #01b070;
}
