<div class="modal fade remote" data-backdrop="static" id="modalAppend" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <center><img src="{{asset("assets/img/ajax-loader.gif")}}"></center>
            </div>
        </div>
    </div>
</div>
